@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: cover;
    }
}

@import url('https://fonts.googleapis.com/css?family=Muli');

$break-small: 767px;
$white: #ecf0f1;
$blue: #2980b9;
$black: black;
$font: 'Muli', sans-serif;

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
}

header {
    height: 60px;
    background: $black;
    width: 100%;
    border-bottom: .5px solid hsla(0,0%,100%,.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: $white;

    .navbar-nav {
        float: right;
        margin-right: 20px;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 600;

        @media screen and (max-width: $break-small){
            display: inline-flex;
        }

        li {
            padding-left: 20px;
            padding-right: 20px;

            a {
                padding-left: 0;
                padding-right: 0;
                color: $white;
                &:hover , &:focus {
                    background-color: $black;
                    outline: none;
                }
            }

            .active {
                &:after {
                    position: absolute;
                    bottom: 7px;
                    left: 0;
                    right: 0;
                    height: 3px;
                    content: "";
                    border-radius: 5px;
                    background: $white;
                }
            }
        }
    }
}

footer {
    width: 100%;
    position: relative;
    height: 70px;
    background-color: $black;
    border-top: 1px solid hsla(0,0%,100%,.5);
    margin-top: 50px;

    ul {
        list-style: none;
        margin-bottom: 0;
        li {
            display: inline-block;
            padding: 24px;
        }
    }

    a {
        font-size: 16px;
        color: $white;
        &:hover {
            color: $white;
        }
    }
}

.btn {
    background: $blue;
    border: 0;
    padding: 9px 25px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    outline: white;
    color: white;
    font-family: $font;
    border: solid;
    border-color: $white;
    &:hover {
        background-color: $white;
        color: $blue;
        border: solid;
        border-color: $blue;
    }
    &:focus:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
    @media screen and (max-width: $break-small){
        font-size: 24px;
    }
}

html {
    height: 100%;
}

.login-bg {
    @include background('/images/background.jpg');
}

.error {
    color: red;
}

.signin-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(6, 8,7, 0.7);

    .signin-modal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        overflow: auto;
        border-radius: 4px;
        outline: none;
        padding: 20px;
        height: 225px;
        width: 300px;
        text-align: center;
        padding-top: 50px;

        .btn-modal {
            margin-top: 20px;
        }
    }
}

.loginpage {
    width: 320px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px 14px -5px #888;
    padding: 20px;
    background: $white;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-radius: 10px;
    transform: translateY(-50%);
    opacity: 0.96;

    .loginform {
        padding: 20px;
        .form-group {
            width: 100%;
            margin: 10px 0;
            text-align: left;

            label {
                width: 100%;
                text-align: left;
                color: $blue;
                font-family: $font;
                font-size: 18px;
            }

            .form-control {
                display: block;
                width: 100%;
                height: 35px;
                font-size: 15px;
                line-height: 1.42857143;
                color: #333333;
                background-color: #ffffff;
                border: 1px solid #cccccc;
                border-radius: 5px;
                margin: 0 auto;
                margin-bottom: 25px;
            }
            .buttonClass{
                text-align: center;
                padding-top: 10px;
            }
        }
    }
}

.signup-link {
    position: relative;
    float: right;
    margin-right: 4%;
    font-size: 18px;
    margin-top: 20px;
    a{
        color: $white;
        text-decoration: none;
    }
}

.container {
    padding-top: 100px;
}
.List-content {
    padding-top: 100px;
    .select-grp {
        text-align: center;
        margin-top: 10px;
    }

    select {
        width: 160px;
        margin: 0 13px;
        border-radius: 3px;
        height: 25px;
        display: inline-block;
    }
}

.eachsource {
    padding: 15px;
    margin-bottom: 21px;
    background-color: #ffffff;
    border-radius: 5px;
    img {
        width: 100%;
        max-width: 100%;
    }

    .about-source {
        font-family: $font;
    }

    .btn-source {
        font-size: 14px;
        margin-top: 10px;
    }
}

body {
    background-color: #2980b9;
    min-height: 100%;
}

@media screen and (max-width: $break-small) {
    .loginpage {
        width: 80%;

        .loginform {
            .form-group {

                label {
                    font-size: 32px;
                }

                .form-control {
                    width: 93%;
                    height: 55px;
                    font-size: 24px;
                }

                .buttonClass{
                    padding-top: 20px;
                }
            }
        }
    }

    .eachsource {
        .about-source {
            h3 {
                font-size: 48px;
            }
            p {
                font-size: 30px;
            }
        }

        .btn-source {
            font-size: 24px;
        }
    }
    .List-content {
        .select-grp {
            width: 50%;
            margin: auto;
        }

        label {
            font-size: 24px;
        }

        select {
            width: 230px;
            margin: 20px 13px;
            height: 45px;
            margin-top: 0;
        }
    }
}


